@media (max-height: 780px)
  .maquinaImg
    img
      width 80%
@media (max-width: 780px)
  .ceoImg
    display: none
  .headerTxt
    width 80%
    .light
      font-size 16px
    .bold
      font-size 24px
  .maquinaImg
    img
      width 70%
  .ochentaporciento
    margin: 0 auto
    width: 80%
@media (max-width: 600px)
  .cardsInt
    ul
      li
        height: 110px
        text-align: left
        &:nth-child(1)
          .card
            border-left: 0
        .card
          border-right: 0
          h3
            padding: 5px 0
            font-size: 16px
            transform: translateY(0px)
          p
            color: #666
            font-size: 12px
            margin: 0
            opacity: 1
            text-align: left
            transform: translateY(0px)
            visibility: visible
          .svg
            float: left
            transform: translateY(0px)
          &:hover
            background: white
            h3
              color: #999
            h3
            .svg
              transform:translateY(0px)
            .svg
              margin-right: 10px
  .fontChica
    font-size: 12px
  .ico
    left: -40px
    height: 30px
    width: 30px
  .maquinaImg
    margin: 0
  .tituloSection
    display: block
    font-size: 10px
    margin-bottom: 16px
    position: relative
    top: 0
    h2
      margin: 0 0 0 40px
      .tituloSectionRow
        .destTitulo
          font-size: 20px
@media (max-width: 400px)
  .fontChica
    font-size: 10px
