@media (max-height: 780px)
  .maquinaImg
    img
      width 80%
@media (max-width: 780px)
  .ceoImg
    display: none
  .headerTxt
    width 80%
    .light
      font-size 16px
    .bold
      font-size 24px
  .maquinaImg
    img
      width 70%
  .ochentaporciento
    margin: 0 auto
    width: 80%
@media (max-width: 600px)
  .cardsInt
    ul
      li
        height: 110px
        text-align: left
        &:nth-child(1)
          .card
            border-left: 0
        .card
          border-right: 0
          h3
            padding: 5px 0
            font-size: 16px
            transform: translateY(0px)
          p
            color: #666
            font-size: 12px
            margin: 0
            opacity: 1
            text-align: left
            transform: translateY(0px)
            visibility: visible
          .svg
            float: left
            transform: translateY(0px)
          &:hover
            background: white
            h3
              color: #999
            h3
            .svg
              transform:translateY(0px)
            .svg
              margin-right: 10px
      .otro-height
        height: initial
        .card
          &:hover
            background: transparent
            .rodImg
              height: 100px
              transform: translateY(0)
              width: 100px
          p
            color: white
            width: 100% !important
          .paddingTopTittle
            padding-top: 5px
          .rodImg
            float: left
            height: 100px
            margin-right: 10px
            width: 100px
            .border-circle-chico
              box-shadow: inset 0 0 0 4px rgba(102,7,119,0.6),0 1px 2px #660777
  .contenedorHeader
    header
      .logo
        left: 10px
      .menu
        ul
          li
            a
              img
                margin: 0
  .fontChica
    font-size: 12px
  .ico
    left: -40px
    height: 30px
    width: 30px
  .item
    box-shadow: inset 0 0 0 8px rgba(102,7,119,0.6),0 1px 2px #660777
    height: 110px
    width: 110px
  .maquinaImg
    margin: 0
  .team
    background-color: #771e97
    background-image: none
    ul
      li
        margin-bottom: 30px !important
        .item
          overflow: initial
          .itemInner
            padding-top: 35px
            p
              font-size: 13px
          .thumbName
            font-size: 10px
            bottom: -27px
            transform: translateY(0)
            .dest
              font-size 13px
  .tituloSection
    display: block
    font-size: 10px
    margin-bottom: 16px
    position: relative
    top: 0
    h2
      margin: 0 0 0 40px
      .tituloSectionRow
        .destTitulo
          font-size: 20px
@media (max-width: 400px)
  .fontChica
    font-size: 10px
